
#table{
    position: absolute;
    margin-left: 20%;
    font-size: 20px;
}
button{
	border-radius:5px;

	font-size:20px;
	text-align:center;
	padding: 5px 10px;
     background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
button:hover{
	background-color:blueviolet;
}
h1{
	text-align:center;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
#my{
     position: absolute;
    left: 32%;
    top: 1%;
    padding-bottom:11.6%;
}
#btn{
    font-size:25px;
    position: absolute;
    bottom: 5%;
    left: 2%;
}
#so{
     position: absolute;
    left: 0%;
    top: 1%;
    padding-right: 15%;
}